<?xml version="1.0"?>
<model>
  <name>lidar_3d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>AviationSim</name>
    <email>tnberkec@gmail.com</email>
  </author>
  <description>16-channel, 360-degree 3D LiDAR (gpu_lidar) for obstacle-avoidance mapping.</description>
</model>
