<?xml version="1.0"?>
<model>
  <name>warehouse_pillar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>AviationSim</name>
    <email>tnberkec@gmail.com</email>
  </author>
  <description>Static square support pillar used as an obstacle in the warehouse world.</description>
</model>
